* {
    margin: 0;
    padding: 0 100;
    font-family: 'Inter', sans-serif;
    
}
body{
    font-family: ;
}
img{
    padding: 0 100px;
}
.logo {font-weight: 900;
    font-size: 50px;
    font-family: times;
}
a{color: rgba(0, 0, 5, 0.7);
    text-decoration: none;
}
a:hover{
    color: red;
}
li{    list-style: none;
}
h2{font-size: 45px;
       padding: 0 100px;
       font-weight: 900;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 0 100px;
    
}
nav{
    display: flex;
    gap: 30px;
}
p {padding: 0 100px;
}