body {
    margin: 60px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

.logo {
    height: 80%;
}

.close {
    display: none;
}

.menu {
    display: none;
}

main {
    max-width: 960px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

a {color: hsl(240, 100%, 5%);
    text-decoration: none;
}

a:hover {
    color: hsl(5, 85%, 63%);
}

nav ul {
    list-style: none;
    display: flex;
}

li {
    margin: 10px;
    height: 60px;
}

.tudao {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tudao img {
    max-width: 100%;
}


.ladod {
    margin-left: 20px;
    background-color: hsl(240, 100%, 5%);
    color: #fff;
    line-height: 24px;
    padding: 15px;
}

.ladod h4:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

.ladod p {
    color: grey;
    border-bottom: 0.5px solid grey;
    padding-bottom: 10px;
}

.baixoi {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.separar {
    width: 50%;
    color: hsl(236, 13%, 42%);
}

.flex-heading h2 {
    font-size: 45px;
    font-weight: bold;
}

button {
    border: none;
    font-weight: 600;
    outline: none;
    color: #fff;
    padding: 14px 25px;
    width: 250px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.5px;
    background-color: hsl(5, 85%, 63%);
}

button:hover {
    background-color: hsl(240, 100%, 5%);
}

.ladod h2 {
    color: hsl(35, 77%, 62%);
    font-size: 30px;
}

section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


section img {
    width: 100px;
    margin: 10px;
}

section .embaixo01 {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

section h4:hover {
    cursor: pointer;
    color: hsl(5, 85%, 63%);
}

.opacidade {
    color: hsl(236, 13%, 42%);
    opacity: 0.5;
    font-size: 40px;
    margin-bottom: 10px;
}

.card h4 {
    margin: 515;
    line-height: 30px;
}

.fundo {
    display: flex;
}

@media (min-width: 961px) {
    .fundo {
        display: flex;
    }
}

@media (max-width: 960px) {
    .close {
        display: block;
    }

    body {
        overflow-x: hidden;
    }

    .fundo {
        display: none;
        width: 90%;
        margin: 0 auto;
    }

    nav {
        display: flex;
        margin-bottom: 20px;
    }

    .tudao {
        display: block;
    }

    section.embaixo {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .baixoi {
        display: block;
    }

    .ladod {
        margin: 0;
    }

    main {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    section .embaixo01 {
        width: 300px;
    }

    .futuro {
        font-size: 20px;
    }

    .futuro h1 {
        font-size: 30px;
    }

    .separar {
        width: 100%;
    }

    .pulo {
        display: none;
    }

    button {
        margin-bottom: 10px;
        width: 60%;
    }

    .dladod {
        margin-left: 20px;
    }

    .close {
        width: 30px;
        text-align: right;
    }

    .lista {
        width: 200px;
        display: flex;
        flex-direction: column;
        height: 700px;
        position: absolute;
        top: -15px;
        right: 0;
        opacity: 1;
        background-color: #fff;
        padding: 20px;
        color: hsl(240, 100%, 5%);
    }

    .menu {
        display: block;
        object-fit: contain;
        margin-right: 40px;
        width: 50px;
    }

    .lista {
        margin: 20px;
    }


    .fundo.show {
        display: block;
        width: 100%;
        position: absolute;
        height: 100%;
        background: #0b0b13ab;
    }
}